<p id="notice"><%= notice %></p>

<h1>DDD Shipping Demo with Rails</h1>

<h2>Scenarios </h2>
<h3>Scenario #1</h3>
<p>Customer wants to book a cargo between hongkong and dallas.</p>
<ol>
  <li>Create a cargo</li>
  <li>Generate an itinerary</li>
  <li>Customer accepts itinerary</li>
  <li>Book the cargo</li>
</ol>

<h3>Scenario #2</h3>
<p>TBD</p>

<h3>Scenario #3</h3>
<p>TBD</p>

