<p id="notice"><%= notice %></p>

<h1>DDD Shipping Demo</h1>

<table>
  <thead>
    <tr>
      <th> Sections </th>
    </tr>
  </thead>

  <tbody>
      <tr> 
        <td><%= link_to("Cargos",    cargos_url) %>  </td>
      </tr>
      <tr> 
        <td><%= link_to("Locations", locations_url) %>  </td>
      </tr>
  </tbody>
</table>

<br>

