<p id="notice"><%= notice %></p>

<h1>Cargo Shipping Demo with Rails</h1>
<h2>Domain Driven Design Example</h2>

<h3>Scenario #1</h3>
<p>Customer wants to book a cargo between <em>Hong Kong</em> and <em>Long Beach</em>.</p>
<ol>
  <li>Create a <strong>Cargo</strong></li>
  <li>Generate an <strong>Itinerary</strong> based on available <strong>Voyages</strong></li>
  <li>Customer accepts <strong>Itinerary</strong></li>
  <li>Book the <strong>Cargo</strong></li>
</ol>

