<p id="notice"><%= notice %></p>

<h1>DDD Shipping Demo</h1>

<table>
  <thead>
    <tr>
      <th> Scenarios </th>
    </tr>
  </thead>

  <tbody>
      <tr> 
        <td>TBD</td>
      </tr>
      <tr> 
        <td>TBD</td>
      </tr>
      <tr> 
        <td>TBD</td>
      </tr>
  </tbody>
</table>

<br>

